
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans';
    line-height: 26px;
    color: #7582a1;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
h1{
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2.5px; /*отступы между буквами*/
    color: #192b59;
    line-height: 1.1; /*отступы между буквами по высоте*/
    max-width: 600px; /*максимальная ширина*/
    margin-bottom: 65px;
}
.title-h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -2.33px;

}
.title-h2 > span{
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 14px;
}

.title-40{
    font-size: 40px;
    letter-spacing: -1.1px;
    font-weight: 600px;
    color: #192b59;
    line-height: 1.2;
    /* letter-spacing: -2.33px; */

}
.title-40 span{
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
}
/* -------------------- Block .page-stat ------------------ */
.object-circle {
    display: block;
    position: absolute;
    background-image: url(../img/funfacts-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 469px;
    height: 641px;
    left: 0px;
    bottom: -251px;
}

.object-rhombus {
    display: block;
    position: absolute;
    background-image: url(../img/funfacts-romb.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 603px;
    height: 788px;
    right: 0;
    top: -217px;
}

.page-stat .title-h2, .page-screen .title-h2{
    text-align: center;
    margin: 0 auto;
}
.page-stat .title-h2{
    max-width: 500px;
}

.wrap{
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*flex for logo*/
.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding-top: 53px;чтоб изображение началось от края*/
    margin-bottom: 305px;
}
.logo{
    display: block;
    width: 181px;
    height: 49px;
    background-image: url(../img/logo.png);
}
.nav{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /*все дочерне эллементы стали в ряд*/

}

.nav li{
    padding: 0 20px;
}

.nav-item{
    color: #6e7ea9;
    letter-spacing: 2px;
}

.screen-img{
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 189px;
}

/*get started now*/
.btn-primary{
    color: #fff;
    font-size: 12px;
    letter-spacing: 2.6px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 60px;
    border-radius: 30px;
    transition: 0.3s;
}
.btn-primary:hover{
    color: #1085e4;
    background-color: transparent;
}
/*learn more*/
.btn-secondary{
    color: #7e8bae;
    font-size: 12px;
    letter-spacing: 2.6px;
    font-weight: 700;
    text-transform: uppercase;
    background-color:#cbdbe8;
    border: 1px solid #cbdbe8;
    padding: 20px 40px;
    border-radius: 30px;
    margin-left: 20px;
    transition: 0.3s;

}

.btn-secondary:hover{
    color: #1085e4;
    background-color: #fff;
}

.btn-free{
    color: #fff;
    font-weight: 400;
    background-color: #1085e4;
    padding: 20px 40px;
    letter-spacing: 1.7px;
}

.btn-group a + a{
    margin-left: 15px;
}
.btn-info{
    color: #8085b1;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 60px;
    border-radius: 30px;
    transition: 0.3s;

}
.btn-info:hover{
    /* color: transparent; */
    background-color:#94b4cc;
    border: 1px solid #1085e4;
    /* padding: 20px 40px #1085e4;
    border-radius: 30px; */
}
/*отключаем отступы ul*/
.list-company{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /*от края до края*/
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}
.list-company-item {
    display: block;
}
.company-one{
    background-image: url(../img/company-1.png);
    flex-basis: 198px;
    height: 58px;
}
.company-two{
    background-image: url(../img/company-2.png);
    flex-basis: 200px;
    height: 69px;
}
.company-three{
    background-image: url(../img/company-3.png);
    flex-basis: 201px;
    height: 47px;
}
.company-four{
    background-image: url(../img/company-4.png);
    flex-basis: 200px;
    height: 69px;
}

/* .grid h2{
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
} */
.content-app{
    max-width: 55%;
}

.content-app .title-h2{
    margin-bottom: 36px;
}
.page-app{
    padding: 70px 0 97px 0;
}
.page-app .wrap{
    position: relative;
}
.intro{
    color: rgba(0, 0, 0, 0.04);
    font-size: 300px;
    font-weight: 900;
    letter-spacing: -0.03em;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 39px;
    margin: 0;
    text-align: center;
}
.page-app-text{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #c4d2dd;
    text-transform: uppercase;
    margin-top: 28px;
    margin-bottom: 13px;
}
.page-app-link-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.page-app-link-list>li {
    display: inline-block;
}
.page-app-link-list>li>a{
    background-image: url(../img/market-sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 190px;
    height: 80px;
}
.page-app-link-list>li>a.page-app-android{
    background-position: 0 0;
    margin-left: -15px;
}
.page-app-link-list>li>a.page-app-ios {
    background-position: -187px 0;
}

.video-app {
    position: absolute;
    top: -59px;
    right: -171px;
}
/* -------------------- Block .page-analytics ------------------ */
.page-analytics{
    background-image: url(../img/analytics-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.flex-analytics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 119px 0 130px 0;
}
.flex-analytics>div{
    flex-basis: 55%;
}
.page-analytics .title-h2{
    margin: 9px 0 26px 0;
}
.page-analytics-text{
    margin-bottom: 50px;
}
.list-stat>li{
    font-size: 12px;
    color: #1085e4;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}
.list-stat{
    display: flex;
    justify-content: space-around; /*когда нужны отступы между эллеменатми и по краям*/
    list-style-type: none; /*убрали точки у списка*/
    margin-top: 76px;
}

.list-stat>li>span{
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: 0;
}

/* -------------------- Block .page-etid ------------------ */
.page-etid{
    background-image: url(../img/etid-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.page-etid a{
    padding-left: 64px;
    padding-right: 62px;
}
.flex-etid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0 139px 68px;
}
.flex-etid>div{
    flex-basis: 55%;
}

.page-etid .title-h2{
    margin: 9px 0 26px 0;
}

.page-etid-text{
    margin-bottom: 50px;
}
/* -------------------- Block .page-prewiev ------------------ */
.screen{
    margin-top: 39px;
    margin-bottom: -7px;
}
.box-price{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 80px;
}
/*Pricing Plans 3 blocks*/
.box-price-item{
    padding: 90px 0 96px 0;
    flex-basis: 32%; /* потому что используем  flex*/
    position: relative;
    background-color: #f5faff;
    
}
.div{
    display: block;
}

/* .box-price-item h3{
    color: #000958;
    font-size: 70px;
    letter-spacing: -1px;
    margin-top: 0px;
    margin-bottom: 15px;
} */
.box-price-item h3 span{
    font-size: 20px;
    color: #94b4cc;
    text-transform: uppercase;
}

/* .box-price-item p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
} */
.box-price-item:first-child h3{
    margin-bottom: 35px;
}
.box-price-item h3 span:first-child{
    color: #bbb;
}
.box-price-item h3 span:last-child{
    color: #1085e4;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-top: 30px;
    letter-spacing: 1px;
}

.box-price-item.active h3 span:last-child{
    color: #fff;
}

.box-price-item ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 34px;
    margin-bottom: 59px;
    font-size: 14px;
}

.box-price-item.active{
    background-color: #192b59;
    color: #fff;
}
.box-price-item.active h3 {
    color: #fff;
}

.box-price-item h3 {
    font-size: 70px;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #000958;
}
.box-price-item ul>li{
    margin-bottom: 14px;
}
.box-price-item::after{
    content: "";
    width: 58px;
    height: 96%;
    background-image: url(../img/triangle.svg);
    position: absolute;
    top: 0;
    right: 0;
}

.box-price-item.active::after{
    display: none;
}

/*PAGE*/
.page-header{
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 300px 0;
    position: relative;
}
.page-company{
    background-image: url(../img/bg-company.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px;
}
.page-stat, .page-screen{
    background-color: #edf6ff;
    /* padding: 116px 0 96px 0; */
}
.page-stat{
    /* background-color: #edf6ff; */
    padding: 116px 0 96px 0;
}


.page-plan, .page-screen{
    /* padding: 116px 0 0 0; */
    text-align: center;
    /* padding: 0; */
}
.page-screen{
    padding: 116px 0 0 0;
    /* text-align: center; */
    /* padding: 0; */
}
/*page-subscribe start*/
.page-subscribe{
    /* background: rgb(10, 32, 144); */
    /* background: linear-gradient(150deg, rgba(10, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%); */
    
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );

}

.box-subscribe{
    display:flex;
    justify-content: space-between;
    align-items: center; /*по центру горизонтально*/

}
.box-subscribe p{
    font-size: 18px;
    color: dfe8ff;
    margin-bottom: 38px;
}

.box-subscribe h2 > span{
    display: block;
    font-size: 14px;
    font-weight: 700px;
    color: #00bffe;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 30px;
    padding-top: 20px;

}

.box-subscribe__input{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border: 2px solid #3f5cb1;
    border-radius: 50px;
}

.box-subscribe__input input{
    background-color: transparent;
    color: fff;
    border: none;
    padding-left: 10px;
    outline: none;
}
.box-subscribe__input input::placeholder{
    color: #fff;
}
/*page-subscribe end*/
/*grid 4 block start*/
.grid {
    display: grid;
    grid-template-areas: "a b c"
                         "d b c"
                         "d f g"
                         "e f g"
                         "e h h";
    max-width: 1110px;
    grid-gap: 35px; /*отступы*/
    grid-template-columns: 1fr 1fr 1fr;/*сделать три колонки с однаковой шириной*/
    margin: 80px auto;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    margin: 0 0 50px 0;
    font-weight: 700;
}

.grid span {
    font-size: 14px;
    color: #1085e4;
    letter-spacing: 1.5px;
    display: block;
}

.grid-text span {
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
    display: inline;
}

.grid-text p:last-child {
    font-size: 14px;
    color: #1085e4;
}
.grid h2 span{
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    display: block;
}
.grid-item h3{
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a{
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
    text-align: center;
}
.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 18px;
}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}

.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
}

.grid-item {
    text-align: center;
    box-shadow: 0px 5px 5px 2px #dbd7d7;
    /*margin: 40px 31px 20px 0;*/
    padding: 70px 25px;
}

.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 36px;
}

.grid-icon-1 {
    background-image: url("../img/icon-3.png");
    width: 74px;
    height: 80px;
}

.grid-icon-2 {
    background-image: url("../img/icon-6.png");
    width: 89px;
    height: 85px;
}

.grid-icon-3 {
    background-image: url("../img/icon-1.png");
    width: 80px;
    height: 82px;
}

.grid-icon-4 {
    background-image: url("../img/icon-2.png");
    width: 103px;
    height: 94px;
}

.grid-icon-5 {
    background-image: url("../img/icon-4.png");
    width: 85px;
    height: 90px;
}

.grid-icon-6 {
    background-image: url("../img/icon-5.png");
    width: 101px;
    height: 87px;
}
/*grid 4 block end*/
/* -------------------- Block .page-software ------------------ */
.page-software{
    background-image: url("../img/grabsoft-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 109px 0 156px 0;
    position: relative;

}
.page-software:before {
    content: "";
    display: block;
    background-image: url(../img/laptop.png);
    background-repeat: no-repeat;
    width: 48%;
    height: 760px;
    background-size: contain;
    background-position: 0 bottom;
    position: absolute;
    left: 0px;
    top: 117px;
}
.page-software-flex{
    display: flex;
    justify-content: flex-end;
    /* flex-basis: 70%; */
}
.page-software-flex > div{
    flex-basis: 54%;
    padding-left: 50px;
}

.settings-icon {
    display: block;
    background-image: url(../img/customize-icon.png);
    background-repeat: no-repeat;
    background-position-x: -24px;
    width: 115px;
    height: 97px;

}

.page-software-icon{
    display: block;
    background-repeat: no-repeat;
    background-image: url("../img/software-icon.png");
    background-position: 28px 0;
    height: 98px;
    background-size: 117px 98px;
}

.page-software .title-h2{
    max-width: 766px;
    margin-top: 12px;
    margin-bottom: 26px;
}
.page-software-list{
    margin-top: 30px;
    height: 328px;
    overflow: hidden;
    overflow: scroll;
}

.page-software-list::-webkit-scrollbar{ width: 4px; height: 4px; }
.page-software-list::-webkit-scrollbar-button{ background-color: #1085e4; }
.page-software-list::-webkit-scrollbar-track-piece{ background-color: #f3f6ff; }
.page-software-list::-webkit-scrollbar-thumb{ height: 50px; background-color: #1085e4; border-radius: 10px;}

.page-software-list dt{
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}
.page-software-list dd{
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.8;
}

/* -------------------- Block .page-prewiev ------------------ */

.page-preview {
    background-color: #edf6ff;
    padding: 116px 0 0 0;
    text-align: center;
}

.screen {
    margin-top: 71px;
    margin-bottom: -7px;
    width: 100%;
    max-width: 1288px;
}
/* -------------------- Block .page-clients ------------------ */
.page-clients{
    position: relative;
    padding: 76px 0 20px 0;
    margin-top: 119px;
}
.page-clients::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/clients-bg.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.page-clients .title-h2-40{
    color: #fff;
}
.page-clients .title-h2-40 span{
    color: #85c8ff;
}

.box-clients{
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
}
.box-clients-item{
    background-color: #fff;
    padding: 21px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(180, 181, 181, 0.2);
    box-sizing: border-box;
    flex-basis: 31.5%;
    line-height: 1.714;
}
.box-clients-item > p{
    margin-bottom: 8px;
}
.box-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box-clients-item .name{
    font-size: 22px;
    font-weight: 600;
    color: #000958;
    letter-spacing: -0.03em;
    line-height: 1;
    padding-left: 18px;
}

.page-clients .position{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
    margin-top: 8px;
}
/* -------------------- Block .page-team ------------------ */

.page-team{
    text-align: center;
    background-image: url(../img/team-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 116px 0 120px 0;
}
.page-team .title-h20-40{
    color: #fff;
}

.page-team .title-h2-40 span{
    color: #fff;
}

.box-team{
    display: flex;
    justify-content: space-between;
    margin-top: 138px;
}
.box-team-item{
    background-color: #fff;
    flex-basis: 32%;
    box-shadow: 0 8px 16px rgba(180, 181, 181, 0.2);
    position: relative;
    padding: 184px 0 40px 0;
    box-sizing: border-box;
}
.box-team-item .avatar{
    position: absolute;
    top: -86px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.box-team-item .author{
    font-size: 26px;
    color: #192b59;
    font-weight: 600;
    letter-spacing: -0.03em;
    margin-bottom: 19px;
}

.box-team-item .author span{
    font-size: 14px;
    font-weight: 800;
    color: #1a88e1;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.2em;
}

.box-team-item .btn-team{
    background-color: #f3f3f3;
    border-radius: 100%;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: none;
    padding: 0;
    transition: 0.3em;
}

.box-team-item .btn-team:hover{
    background-color: #1a88e1;
}
.box-team-item .btn-team span{
    background-image: url(../img/team-socbtn.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}
.box-team-item .btn-more span{
    background-position: -9px -5px;
    width: 20px;
    height: 20px;
}

.box-team-item .btn-more:hover span{
    background-position: -9px -36px;
}
.box-team-item .btn-more:focus{
    outline: none;
}

.social-team{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    margin: 0;
}

.social-team .btn-team{
    display: flex;
    align-items: center;
}

.box-team-item .btn-fb span{
    background-position: -33px -5px;
    width: 20px;
    height: 20px;
}

.box-team-item .btn-fb:hover span {
    background-position: -33px -36px;
}

.box-team-item .btn-tw span{
    background-position: -59px -5px;
    width: 20px;
    height: 20px;
}

.box-team-item .btn-tw:hover span {
    background-position: -59px -36px;
}

.box-team-item .btn-be span{
    background-position: -87px -5px;
    width: 20px;
    height: 20px;
}

.box-team-item .btn-be:hover span {
    background-position: -87px -36px;
}

.box-team-item .btn-web span{
    background-position: -113px -5px;
    width: 20px;
    height: 20px;
}

.box-team-item .btn-web:hover span {
    background-position: -113px -36px;
}


/* -------------------- Block .page-trail ------------------ */

.page-trail {
    background-image: url(../img/trail-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 69px 0 120px 0;
}

.page-trail .title-h2 {
    margin-bottom: 49px;
}

.flex-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-form > img {
    margin-right: 60px;
}

.flex-form > div {
    flex-basis: 46%;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.page-trail input,
.page-trail textarea {
    font-size: 14px;
    border: 2px solid #dce4ec;
    border-radius: 35px;
    padding: 25px 80px 25px 38px;
    width: 100%;
    box-sizing: border-box;
}

.page-trail input:focus,
.page-trail textarea:focus {
    outline: none;
}

.page-trail textarea {
    min-height: 160px;
    resize: none;
}

.contact-form-item {
    margin-bottom: 20px;
    position: relative;
}

.contact-form-item::after {
    content: "";
    display: block;
    position: absolute;
    right: 40px;
    background-repeat: no-repeat;
}

.contact-form-name::after {
    background-image: url(../img/icon-name.png);
    width: 13px;
    height: 15px;
    top: calc(50% - 7px);
}

.contact-form-email::after {
    background-image: url(../img/icon-email.png);
    width: 14px;
    height: 15px;
    top: calc(50% - 5px);
}

.contact-form-text {
    margin-bottom: 33px;
}

.contact-form-text::after {
    background-image: url(../img/icon-text.png);
    width: 14px;
    height: 15px;
    top: 28px;
}

.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {color:#8995b3;}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {color:#8995b3;}
.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {color:#8995b3;}
.bcontact-form input:-ms-input-placeholder, .bcontact-form textarea:-ms-input-placeholder {color:#8995b3;}

.page-trail .btn-primary {
    padding: 22px 46px 23px 67px;
    letter-spacing: 0.17em;
    position: relative;
    max-width: 230px;
}

.page-trail .btn-primary::before{
    content: "";
    background-image: url(../img/icon-plane.png);
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    left: 52px;
    top: calc(50% - 7px);
}
