img/favicon/favicon-96x96.png
img/favicon/apple-touch-icon-180x180.png
img/favicon/apple-touch-icon-152x152.png
img/favicon/apple-touch-icon-144x144.png
img/favicon/favicon-32x32.png
img/favicon/favicon-16x16.png
img/favicon/apple-touch-icon-120x120.png
img/favicon/apple-touch-icon-114x114.png
font/OpenSans.ttf
img/header-bg.png
img/header-screen.png
img/logo.png
img/play.png
img/robot.png
img/screen.png
img/triangle.svg
img/favicon/android-chrome-192x192.png
img/favicon/apple-touch-icon-60x60.png
img/favicon/apple-touch-icon-72x72.png
img/favicon/apple-touch-icon-76x76.png
